@media all and (min-width: 768px) {
  .login-container {
    width: 100%;
    min-height: 60vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .age-form {
    flex: 1;
    align-self: center;
  }

  .age-logo {
    align-self: center;
    flex: 1;
  }

  .age-logo img {
    max-width: 100%;
  }
}

.Login {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.age-form {
  align-self: center;
  margin-top: 8%;
  flex: 1; 
}

.age-logo {
  flex: 1;
}

.age-logo img {
  max-width: 100%;
}