@media all and (min-width: 768px) {
  .Login {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }

  .Login form {
    max-width: 320px;
    margin-top: 8%;
  }

  .age-logo {
    margin: 0 5% 10% 25%;
    -ms-transform: rotate(-14deg); /* IE 9 */
    -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
    transform: rotate(-14deg);
  }

  .age-label {
    font-size: 36px;
    color: #fff;
  }

}

